.calculator {
  width: 40vw;
  margin: 3rem auto;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0.2rem 0.3rem 10px #f5f5f5;
}

.display {
  padding: 1.1rem;
  background-color: darkgrey;
  box-shadow: 0.1rem 0.1rem 2px darkgrey;
  font-size: 1.5rem;
  text-align: right;
  cursor: pointer;
  color: #fff;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btn-row .button0 {
  flex-basis: 216.7%;
}

.orange {
  background-color: orange;
  border: none;
  border-bottom: 1px solid #f5f5f5;
}

.bg {
  width: 40vw;
}

.button {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  box-shadow: 0.1rem 0.1rem 10px #f5f5f5;
  border: 1px solid lightgrey;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #e6e6e6;
}

.loadDiv {
  font-family: bold;
  font-size: 1rem;
  color: black;
  text-shadow: 1px 1px 0 black;
  text-align: center;
  width: 51vw;
  margin: 0 auto;
}
